{% extends "main.html" %}
{% load staticfiles %}
{% block header %}
    <header class="intro-header" style="background-image: url('{% static "img/contact-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Добавить пост</h1>
                        <hr class="small">
                        <span class="subheading">Просто заполните поля ниже</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'is_active' or user.is_superuser %}
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>{{field.label_tag}}</label>
                    {{field}}
                    {% for error in field.errors %}
                        <p class="help-block text-danger">{{error}}</p>
                    {% endfor %}
                    </div>
            </div>
        {% endif %}
        {% endfor %}
        <br>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock %}